.page-header
  = link_to t('.new_link'), new_cms_admin_site_page_path(@site), :class => 'btn pull-right'
  %h2= t('.title')

= render :partial => 'cms_admin/categories/index', :object => 'Cms::Page'

%ul.list.sortable
  = render :partial => 'index_branch', :collection => @pages
